div {
  font-family: Arial;
  padding-top: 20px;
}

button {
  font-family: Arial;
  font-size: 30px;
  margin-top: 30px;
  padding:15px;
}

.userSpan {
  border: 2px solid white;
}

.userSpan:hover {
  border: 2px solid red;
}
